<h1> Hello World</h1>
<p>

  <span class="label label-primary">Please enter your Name :</span>
  <input type="text" [(ngModel)]="name">
  </p>
  <button type="button" class="btn btn-primary">Primary</button>  <hr>

  <h2> Hello {{ name }}</h2> 